@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body {
	font-family: 'Raleway', 'Nanum Gothic';
}

* {
	margin: 0 auto;
	padding: 0px;
}

a {
	color: #000;
	text-decoration: none;
}

button {
	cursor: pointer;
}

input:focus {
	outline: none;
}

input[type="button"] {
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

img {
	border: none;
}

li {
	list-style: none;
}

.clear {
	clear: both;
}

.container {
	width: 1280px;
	position: relative;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}